@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

* {
    padding: 0px;
    margin: 0px;
}

#clock {
    color: gray;
    text-shadow: 5px 5px 10px black;
    font-size: 85px;
    font-family: 'Nova Mono', monospace;
}

.flex-cont {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
}

h1 {
    font-weight: lighter;
}

.backward {
    position: absolute;
    height: 100%;
    width: 100px;
    background: none;
    border: none;
    font-family: 'Nova Mono', monospace;
    font-size: 20px;
}

.forward {
    position: absolute;
    height: 100%;
    width: 100px;
    right: 0px;
    background: none;
    border: none;
    font-family: 'Nova Mono', monospace;
    font-size: 20px;
}

.backward:hover {
    background-color: rgba(0, 0, 0, .2)
}

.forward:hover {
    background-color: rgba(0, 0, 0, .2)
}